.body{
   background:#C0C0C0;
}


h1 {
   left: 0;
   margin-top: -150px;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
   font-size: 40px;
   text-decoration: underline;
}

.start{
   left: 0;
   margin-top: -70px;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
   font-size: 40px;
   text-decoration: none;
   font-weight: bold;
}

a:link, a:visited {
   color: #000000;
}

a:hover {
   color:#0000FF;
}

h2 {
   left: 0;
   margin-top: 10px;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
   font-size: 50px;
   font-size: 30px;
   text-decoration: underline;
}