.body{
   background:#C0C0C0;
}


h1 {
   left: 0;
   margin-top: -150px;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
   font-size: 40px;
   text-decoration: underline;
}

.start{
   left: 0;
   margin-top: -70px;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
   font-size: 40px;
   text-decoration: none;
   font-weight: bold;
}

a:link, a:visited {
   color: #000000;
}

a:hover {
   color:#0000FF;
}

h2 {
   left: 0;
   margin-top: 10px;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
   font-size: 50px;
   font-size: 30px;
   text-decoration: underline;
}
.btn{
    border: 1px solid #000000;
    background: none;
    padding: 10px 20px;
    font-family: "monsterrat";
    cursor: pointer;
    margin: 10px;
}
.btn1,.btn2,.btn3,.btn4{
    color :#000000;
}
